/*Global*/
.main-body-div {
    max-width: 1000px;
    margin: 0 auto;
}

.main-navbar {
    margin-top: 20px;
}

/*Projects*/
.projects-title-name {
    display: inline-block;
}

.projects-title-bull {
    font-size: 2em;
    margin: 0 7px;
}